<meta charset="utf-8"/>

<style>
    .contextmenu {
        margin: 0;
        background: #fff;
        z-index: 3000;
        position: absolute;
        list-style-type: none;
        padding: 5px 0;
        border-radius: 6px;
        font-size: 14px;
        font-weight: 400;
        color: #333;
        box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.3);
    }
    .contextmenu li {
        margin: 0;
        padding: 6px 18px;
        cursor: pointer;
    }
    .contextmenu li:hover {
        background: #eee;
        color:#2f90f1;
    }

</style>

<div class="row" id="app">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12">
                <div style="display:flex;justify-content:space-between">
                    <div style="width:500px;height:100%;">
                        <el-tree
                            v-if="permissions.department_queryAllDepartment"
                            :props="props"
                            :load="loadNode"
                            :lazy="true"
                            node-key="id"
                            highlight-current
                            :default-expand-all="false"
                            @node-click="nodeClick"
                            @node-expand="nodeExpand"
                            @node-contextmenu="rightClick"
                            ref="asyncTree"
                        >
                        </el-tree>
                    </div>
                    <div style="width:100%;border-left:1px dashed #c6c6c6">

                        <el-table
                            ref="multipleTable"
                            :data="tableData"
                            tooltip-effect="dark"
                            border
                            style="width: 100%">
                            <el-table-column type="selection" align="center" width="35"></el-table-column>
                            <el-table-column
                                label="登录账号"
                                width="200">
                                <template slot-scope="scope">{{scope.row.user_name}}</template>
                            </el-table-column>
                            <el-table-column
                                prop="dept_name"
                                label="单位组织"
                                show-overflow-tooltip>
                            </el-table-column>
                        </el-table>

                    </div>
                </div>

                <ul v-show="visible" :style="{left:left+'px',top:top+'px'}" class="contextmenu">
                    <li @click="liAdd" v-if="permissions.department_add"><i class="el-icon-plus"></i>添加</li>
                    <li @click="liEdit" v-if="permissions.department_edit"><i class="el-icon-edit"></i>编辑</li>
                    <li @click="liDel" v-if="permissions.department_delById"><i class="el-icon-delete"></i>删除</li>
                    <li @click="liRefresh"><i class="el-icon-refresh"></i>刷新</li>
                    <li @click="liCancel"><i class="el-icon-close"></i>取消</li>
                </ul>

            </div>
        </div>
    </div>

    <div id="div_dep_edit" style="padding-top:20px;padding-left:30px;display:none">
        <el-input v-model="depName" placeholder="组织机构名称" style="width:180px"></el-input>
        <el-checkbox v-model="isParent">父节点</el-checkbox>
        <el-input v-model="depSeq" placeholder="排序号" style="width:248px;margin-top:4px;" oninput="value=value.replace(/[^\d]/g,'')"></el-input>
    </div>
</div>

<script type="text/javascript">
    new Vue({
        el : '#app',
        data() {
            return {
                props : {
                    id: "id",
                    label: 'name',
                    isLeaf : 'isLeaf'
                },
                tableData: [
                    {
                        user_name: 'administrator',
                        dept_name: '环保厅'
                    },
                    {
                        user_name: 'admin',
                        dept_name: '尚义路小学'
                    },
                    {
                        user_name: 'super',
                        dept_name: '兰花广场'
                    }
                ],
                /*右键菜单开始*/
                visible : false,
                left : 0,
                top : 0,
                nodeData : {
                    id : '',
                    isLeaf : false,
                    name : '',
                    parent_id : ''
                },
                depName : '',
                isParent : false,
                depSeq : '',
                /*右键菜单结束*/
                tableListData : [],
                permissions : {
                    department_add : false,
                    department_edit : false,
                    department_delById : false,
                    department_queryAllDepartment : false
                }
            }
        },
        /* 监听的是vuex的数据源 */
        computed : {},
        /*监听的是data或pros的数据*/
        watch : {
            visible(value) {
                if (value){
                    document.body.addEventListener('click',this.closeMenu)
                } else {
                    document.body.removeEventListener('click',this.closeMenu)
                }
            }
        },
        mounted(){},
        created() {
            httpReq.get('/department/permissions',{},(data)=>{
                if(AppKey.code.code200 === data.code){
                    var _data = data.data;
                    var ps = this.permissions;
                    for(var x=0;x<_data.length;x++){
                        var value = _data[x];
                        for(var key in ps){
                            if(key === value){
                                ps[key] = true;
                                break;
                            }
                        }
                    }
                }
            });
        },
        methods : {
            nodeClick : function(data,node){
                /*console.log(data.name);
                console.log(node);
                console.log(node.data);
                console.log(node.isLeaf);//是否是叶子节点
                console.log(node.expanded);//是否展开*/
            },
            loadNode(node,resolve){
                // 查找顶级对象
                if (node.level === 0) {
                    httpReq.get('/department/queryAllDepartment',{},(data)=>{
                        if(AppKey.code.code200 === data.code){
                            return resolve(data.data);
                        }
                    },(error)=>{
                        let data = []
                        console.log(error);
                        return resolve(data)
                    });
                } else {
                    // 根据父节点id找寻下一级的所有节点
                    httpReq.get('/department/queryAllDepartment',{kid:node.data.id},(data)=>{
                        if(AppKey.code.code200 === data.code){
                            return resolve(data.data);
                        }
                    },(error)=>{
                        let data = []
                        console.log(error);
                        return resolve(data)
                    });
                }
            },
            closeMenu() {
                this.visible = false
            },
            //右键
            rightClick(e,data,node,par){
                //console.info(e);
                //console.info(data);
                this.nodeData = data;
                //console.info(node);
                //console.info(par);

                const menuMinWidth = 105;
                const offsetLeft = this.$el.getBoundingClientRect().left; // container margin left
                const offsetWidth = this.$el.offsetWidth; // container width
                const maxLeft = offsetWidth - menuMinWidth; // left boundary
                const left = e.clientX - offsetLeft; // 15: margin right

                if (left > maxLeft) {
                    this.left = maxLeft
                } else {
                    this.left = left
                }

                this.top = e.clientY - 60 // fix 位置bug
                this.visible = true
            },
            //被展开时
            nodeExpand(data,node){
                //console.info(data.id);
                //console.info(node);
            },
            /*添加*/
            liAdd(){
                const _this = this;
                this.clearFormData();
                this.isParent = false;
                layerFn.addOrEdit('['+this.nodeData.name+"]添加子节点",'#div_dep_edit',['300px','190px'],(index)=>{
                    let depName = this.depName;
                    if(depName == null || depName == ''){
                        layerFn.alert('请输入节点名称', AppKey.code.code199);
                        return;
                    }
                    const params = {
                        dep_name : this.depName,
                        isParent : (this.isParent) ? 1 : 0,
                        seq : this.depSeq,
                        kid : this.nodeData.id
                    };
                    const id = this.nodeData.id;
                    httpReq.post('/department/add',params,(data)=>{
                        layerFn.closeIndex(index);
                        this.resultHandle(data,id);
                    });
                });
            },
            /*编辑*/
            liEdit(){
                const _this = this;
                this.isParent = !this.nodeData.isLeaf;
                this.depName = this.nodeData.name;
                this.depSeq = this.nodeData.seq;
                layerFn.addOrEdit('编辑['+this.nodeData.name+']','#div_dep_edit',['300px','190px'],(index)=>{
                    let depName = this.depName;
                    if(depName == null || depName == ''){
                        layerFn.alert('请输入节点名称', AppKey.code.code199);
                        return;
                    }
                    const params = {
                        dep_name : this.depName,
                        isParent : (this.isParent) ? 1 : 0,
                        seq : this.depSeq,
                        kid : this.nodeData.id
                    };
                    const pid = this.nodeData.pid;
                    httpReq.post('/department/edit',params,(data)=>{
                        layerFn.closeIndex(index);
                        this.resultHandle(data,pid);
                        _this.liRefresh();
                    });
                });
            },
            /*删除*/
            liDel(){
                this.isParent = false;
                const id = this.nodeData.id;
                layerFn.confirm('删除后是无法恢复的,确定要删除节点['+this.nodeData.name+']?',()=>{
                    layerFn.delByIdHint('/department/delById',id,(data)=>{
                        const pid = this.nodeData.parent_id;
                        this.resultHandle(data,pid);
                    });
                });
            },
            /*刷新,是父节点时才刷新*/
            liRefresh(){
                const id = this.nodeData.id;
                const isLeaf = this.nodeData.isLeaf;
                let node = this.$refs.asyncTree.getNode(id);
                if(node){
                    if(isLeaf){
                        node.parent.loaded = false;
                        node.parent.expand();
                    }else{
                        node.loaded = false;
                        node.expand();
                    }
                }
            },/*取消*/
            liCancel(){
                this.visible = false;
            },
            clearFormData(){
                this.depName = '';
                this.depSeq = '';
            },
            /*刷新,指定父节点id*/
            resultHandle(data,pid){
                this.clearFormData();
                if(AppKey.code.code200 === data.code){
                    this.refreshNodeBy(pid);
                    layerFn.handleResult(data.msg,data.code);
                }else{
                    layerFn.alert(data.msg,data.code);
                }
            },
            /*刷新子节点,重新查询该节点下的所有子节点*/
            refreshNodeBy(pid){
                let node = this.$refs.asyncTree.getNode(pid); // 通过节点id找到对应树节点对象
                if(node != null){
                    node.loaded = false;
                    node.expand(); // 主动调用展开节点方法，重新查询该节点下的所有子节点
                }
            }
        }
    });
</script>